$limey: #BAFF67;
$limeyOpp: #111626;

$lightey: #FBFAFA;
$lighteyOpp: #F1F0F1;
$lighteyBorder: #b3b3bb;
$lighteyText: #3c3c52;
$lighteyCode: #030c1bc4;

$darkey: #030C1B;
$darkeyOpp: #010915;
$darkeyBorder: #787a8d;
$darkeyText: #9092aa;
$darkeyCode: #ffffffc4;


.theme-selector {
    * {
        font-family: "Martian Mono" !important;
        font-size: 13px;
    }
}